<h4><i {{bind-attr class=":fa icon"}}></i> {{ model.title }}</h4>

<p class="snippet-progress">
  <span class="snippet-count">
    {{ model.snippets.length }}
  </span>
  {{ pluralContribution }}
</p>

<div class="controls pull-right">
  <a href="#"><i class="fa fa-pencil"></i> write</a>
</div>
