<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    {{link-to 'Collaborative Fiction' 'index' class="navbar-brand"}}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Log in</a></li>
    </ul>
  </div>
</nav>

<main class="container">
  {{outlet}}
</main>
