<div class="page-header">
  <h1>The Library</h1>
</div>

<div class="clearfix">
  {{#link-to 'stories.new' class="btn btn-primary pull-right"}}
    Start a New Story
  {{/link-to}}
</div>

<h3>In progress</h3>

<div class="list-group">
{{#each draft in drafts}}
  {{draft-badge model=draft}}
{{else}}
  <div class="list-group-item disabled">
    <h4>No stories in progress.</h4>
    <p>Ask a friend to add you to one, or <a href="#">start your own.</a></p>
  </div>
{{/each}}
</div>

<h3>Complete</h3>

<div class="list-group">
{{#each story in stories}}
  {{story-badge model=story}}
{{else}}
  <div class="list-group-item disabled">
    <h4>No completed stories.</h4>
    <p>Get writing, people!</p>
  </div>
{{/each}}
</div>
